<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <h1> {{title}} </h1>
        <span> {{note}}
            <input v-model="numberOfBox" @keydown.enter="addBox()" type="number">
        </span>
        <div class="container">
            <div @click="changeStatus(b)" v-for="b in box" :style="{'backgroundColor' : b.color}"
                :class="{'clicked' : b.clicked, 'unclicked' : !b.clicked}" :key="b.id" class="box"> {{
                b.id }} {{ b.clicked}} </div>
        </div>

    </div>
    <script src="app.js"></script>
    <!-- <script src="ddd.js"></script> -->
</body>

</html>